@page
@model DesafioTecnicoThomasGregFront.Pages.EditClientModel
@{
}
<div class="text-center">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Yinka Enoch Adedokun">
        <p>
            <title>Login Page</title>
    </head>
    <body>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="row main-content bg-success text-center">
                <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
                    <div class="container-fluid">
                        <div class="row">
                            @if (Model.Client.Id is not null)
                            {
                                <form class="form-group" method="post">
                                    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            @Model.ErrorMessage
                                        </div>
                                    }
                                    <div class="row">
                                        <div class="form-input">
                                            <div class="preview">
                                                <img id="file-ip-1-preview">
                                            </div>
                                            <label for="file-ip-1">Upload Imagem</label>
                                        <input asp-for="Client.Logotipo" type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);">
                                         
                                        <input asp-for="LogotipoBase64" type="hidden" id="logotipoBase64">
                                            <input asp-for="AllAddresses" type="hidden" id="AllAddresses">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <input type="text" asp-for="Name" name="Name" Text="Model.Client.Name" id="Client.Name" class="form__input" placeholder="Name">
                                    </div>
                                    <div class="row">
                                        <input type="email" asp-for="Email" name="Email" Text="Model.Client.Email" id="Client.Email" class="form__input" placeholder="Email">
                                    </div>
                                    <div id="addressOptions">

                                        @if (Model.Client.Addresses is not null)
                                        {
                                            int addressCount = 1;
                                            int adressIndex = 0;
                                            @foreach (var address in Model.Client.Addresses)
                                            {
                                                <b>Endereço @addressCount: </b>
                                                <div class="row">
                                                    <input type="text" name="Addresses[adressIndex].Name" value="@address.Name" class="form__input" placeholder="Nome do endereço">
                                                </div>
                                                <div class="row">
                                                    <input type="text" name="Addresses[adressIndex].Number" value="@address.Number" class="form__input" placeholder="Número do endereço">
                                                </div>
                                                <div class="row">
                                                    <input type="text" name="Addresses[adressIndex].AddressDetail" value="@address.AddressDetail" class="form__input" placeholder="Detalhe do endereço">
                                                </div>
                                                <div class="row">
                                                    <input type="text" name="Addresses[adressIndex].ZipCode" value="@address.ZipCode" class="form__input" placeholder="CEP">
                                                </div>

                                                adressIndex++;
                                                addressCount++;

                                            }
                                        }
                                        <!-- Opções de endereço dinâmicas serão renderizadas aqui -->
                                    </div>
                                    <button class="btn" type="button" onclick="addAddress()">+ Add Endereço</button>

                                    <div class="row">
                                        <input type="submit" value="Salvar" class="btn" >
                                    </div>
                                </form>
                            }
                            else
                            {
                                <script>
                                    window.location.href = "/";
                                </script>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            window.onload = function () {
                var nameInput = document.getElementById("Name");
                var emailInput = document.getElementById("Email");

                // Obter valores dos inputs
                var nameValue = nameInput.value;
                var emailValue = emailInput.value; 
                document.getElementById("Name").value = nameValue;
                document.getElementById("Email").value = emailValue;

                var addressArray = readAddressInputs();
                document.getElementById("AllAddresses").value = JSON.stringify(addressArray);
            };
            function showPreview(event) {
                if (event.target.files.length > 0) {
                    var src = URL.createObjectURL(event.target.files[0]);
                    var preview = document.getElementById("file-ip-1-preview");
                    preview.src = src;
                    preview.style.display = "block";

                    const file = event.target.files[0];
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        const base64String = e.target.result;
                        // Update the Client.Logotipo property with the base64String
                        document.getElementById("logotipoBase64").value = base64String;
                    };

                    reader.readAsDataURL(file);
                }
            }
            function addAddress() {
                var addressOptions = document.getElementById("addressOptions");
                var addressCount = addressOptions.querySelectorAll("input[name^='Addresses']").length/4;

                var nameLabel = document.createElement("label");
                nameLabel.innerHTML = "Endereço aqui embaixo " + (addressCount + 1) + ":";
                addressOptions.appendChild(nameLabel);

                var addressDiv = document.createElement("div");
                addressDiv.classList.add("address");

                var streetInput = document.createElement("input");
                streetInput.type = "text";
                streetInput.name = "Addresses[" + addressCount + "].Name";
                streetInput.placeholder = "Rua";
                streetInput.classList.add("form__input");
                addressDiv.appendChild(streetInput);

                var numberInput = document.createElement("input");
                numberInput.type = "number";
                numberInput.name = "Addresses[" + addressCount + "].Number";
                numberInput.placeholder = "Número";
                numberInput.classList.add("form__input");
                addressDiv.appendChild(numberInput);

                var addressDetail = document.createElement("input");
                addressDetail.type = "text";
                addressDetail.name = "Addresses[" + addressCount + "].AddressDetail";
                addressDetail.placeholder = "Complemento";
                addressDetail.classList.add("form__input");
                addressDiv.appendChild(addressDetail);

                var zipCodeInput = document.createElement("input");
                zipCodeInput.type = "text";
                zipCodeInput.name = "Addresses[" + addressCount + "].ZipCode";
                zipCodeInput.placeholder = "CEP";
                zipCodeInput.classList.add("form__input");
                zipCodeInput.addEventListener('input', function () {
                    formatZipCode(this);
                });
                addressDiv.appendChild(zipCodeInput);

                addressOptions.appendChild(addressDiv);
                var addressArray = readAddressInputs();
                JSON.stringify(addressArray)

                document.getElementById("AllAddresses").value = JSON.stringify(addressArray);
                console.log(addressOptions); 
            }

            function readAddressInputs() {
                var addressInputs = document.querySelectorAll("input[name^='Addresses']");
                var addressArray = [];

                for (var i = 0; i < addressInputs.length; i += 4) {
                    var addressObject = {
                        Name: addressInputs[i].value,
                        Number: parseInt(addressInputs[i + 1].value),
                        AddressDetail: addressInputs[i + 2].value,
                        ZipCode: addressInputs[i + 3].value
                    };
                    addressArray.push(addressObject);
                }
               

                return addressArray;
            }
            function formatZipCode(input) {
                var zip = input.value.replace(/\D/g, '');

                if (zip.length > 5) {
                    zip = zip.substring(0, 5) + '-' + zip.substring(5);
                }

                if (zip.length > 9) {
                    zip = zip.substring(0, 9);
                }

                input.value = zip;
            }
        </script>
    </body>

</div>